#
node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# 
logs
*.log
*.log.*

# 
.env
.env.local
.env.*.local

# 
.npm
.yarn
.pnp.*
.cache

# 
dist
build
.tmp
out

# 
.vscode
.idea
*.swp
*.swo

# 
coverage
__tests__
__mocks__
jest.config.js
.eslintcache
